<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="style.css">
    {{!-- <script src="https://cdn.tailwindcss.com"></script> --}}
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/waiter_style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Trirong&effect=shadow-multiple" rel="stylesheet">
    


    <title>Waiter's app</title>
</head>

<body>
    
<div class="container sm">
    <div class=".bg-secondary jumbotron bg-cover" style="height:80vh; margin-top:5vh">
        <div class="center flex-container">
      <h1 class="text-center">Waiter's Availablity App</h1><img src="/css/waiter2.jpeg" alt="" width="90px" height="90px" class="waiter_img">
      </div>
      {{{body}}}
      </div>
</div>
    
</body>
</html>