<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/waiter_style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Trirong&effect=shadow-multiple" rel="stylesheet">
    


    <title>Waiter's app</title>
</head>

<body>
    
<div class="container">
    <div class="box-cover bg-cover" style="background-size:cover; margin-top:5vh">
        <div class="box-in center flex-container">
      <h1 class="app_name text-center">Waiter's Availablity App</h1><img src="/css/waiter2.jpeg" alt=""  class="waiter_img">
      </div>
      {{{body}}}
      </div>
</div>
    
</body>
</html>