<h4>Admin page</h4>

<form action="/admin_waiter" method="POST">

  <p>Hello</p>



</form>

<form action="/admin" method="POST">

  <p>Select the name and see the schedules of each waiter:</p>


  {{#each waiter}}
  <ul class="">
    <li class=""><a class="" href="/showScheduledDays/{{name}}">{{name}}</a> <span>
        <a class="admin" href="/admin/{{name}}" type="" name="admin">Delete</a></span></li>
  </ul>
  {{/each}}


  {{#if messages.success}}
  <div class="success">
    <p id="successMessage"> {{messages.success}}</p>

  </div>
  {{/if}}

</form>

  <a href="/reset" name="reset">Reset</a>