<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{!-- <link rel="stylesheet" href="style.css">
    <link href="/css/styles.css" rel="stylesheet"> --}}
    <link rel="stylesheet" href="/public/css/style.css">
    
    <title>Waiter's App</title>
   </head>
<body class="">
    
    <div class="bg-amber-200 m-8">
<h1 class="text-3xl font-bold underline text-center pt-5">
    Hi, Welcome to the waiters app!
  </h1>
  
    <form class="container mx-auto text-center pt-9" action="/waiter" method="POST">
    <label class="px-5" for="">Waiters name:</label>
    <input class="" type="text" name="setWaiter">

    <button class="rounded-full bg-zinc-300 ring-10" type="submit">Send</button>

    {{!-- <div>{{waiter}}</div> --}}
    <div class="m-1 bg-slate-400">
     
      {{!-- <p class="">{{name}}</p> --}}

				{{!-- {{#each waiter_name}}
				<p>Hi<strong>{{name}}</strong>, Welcome to the waiters app</p>

				{{/each}} --}}

        
			</div>


        {{!-- <p>You will be redirected in a few seconds...</p> --}}

        {{!-- <script>
          setTimeout(function () {
           // after 2 seconds
           window.location = "/schedule";
          }, 9000)
        </script> --}}

    </form>

   
</div>

    
</body>
</html>