<form autocomplete="off" class="form-inline" action="/" method="POST">
<h3><b>Register</b></h3>
        <div class="form-group row">

            {{#if messages.success}}
            <div class="success">
                <p id="successMessage"> {{messages.success}}</p>

            </div>
            {{/if}}

             {{#if messages.error}}
            <div class="error">
                <p id="successMessage"> {{messages.error}}</p>
            <script type="text/javascript">window.setTimeout("document.getElementById('successMessage').style.display='none';", 2000); </script> 

            </div>
            {{/if}}
            
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="">Firstname:</label>
                <input class="form-control" type="text" name="setWaiter">
            </div>
            
            <div class="form-group row">

                <label class="col-sm-2 col-form-label" for="">Lastname:</label>
                <input class="form-control" type="text" name="lastname">
            </div>

            <div class="form-group row">

                <label class="col-sm-2 col-form-label" for="">Email:</label>
                <input class="form-control" type="text" name="email">
            </div>
        </div>
        <button type="submit">Submit</button>

    </form>