<div class="container-fluid bg-1 ">
    <form autocomplete="off" class=" center form-horizontal" action="/" method="POST">

    
        <h2 class="text-center"><b>Register</b></h2>
        <div class="center form-group">

            {{#if messages.success}}
            <div class="alert alert-success" >
                <p id="successMessage"> {{messages.success}}</p>

            </div>
            {{/if}}

            {{#if messages.error}}
            <div id="successMessage" class="alert alert-danger">
                <p id="successMessage"> {{messages.error}}</p>
                <script
                    type="text/javascript">window.setTimeout("document.getElementById('successMessage').style.display='none';", 3000); </script>

            </div>
            {{/if}}

            <div class="form-group">
                <label class="control-label col-sm-2" for="">Firstname:</label>
                <div class="col-sm-3">
                <input class="form-control" type="text" name="setWaiter">
                </div>
            </div>

            <div class="form-group">

                <label class="control-label col-sm-2" for="">Lastname:</label>
                <div class="col-sm-3">
                <input class="form-control" type="text" name="lastname">
                </div>
            </div>

            <div class="form-group">

                <label class="control-label col-sm-2" for="">Email:</label>
                <div class="col-sm-3" >
                <input class="form-control" type="text" name="email">
                </div>
            </div>
            <div class="col-sm-offset-2 col-sm-4">
            <button class="btn btn-success" type="submit">Submit</button>
            </div>
        </div>

        <a class="btn btn-info" href="/login/Admin" type="" name="">Login as Admin</a>

    </form>
</div>