table,
th,
td {
  padding: 10px;
  border: 1px solid black;
  border-collapse: collapse;
  
}

form{
  margin-left: 20px;
  margin-top: 20px;
}
.info{
  background-color : red;
}
.danger{
  background-color: crimson;
  color: red;
}
.warning{
  background-color: orange;
  color: orange;
}
.booked{
  background-color: green;
 
}